body{
  background-color: rgb(229, 229, 255);
  overflow-x: hidden;
  /* position: absolute; */

}
.box{
  background-color:white;

}
header img{
  margin-top: 10px;
  margin-left: 200px;
  width: 200px;
  height: 80px;
}
header{
  display: grid;
  grid-template-columns: 65% 35%;
  box-shadow: 10px 5px 10px rgb(127, 125, 125);
}
nav{
  margin-top: 40px;
}
nav a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-right:45px ;
}
nav p{
    font-size: 10px;
    width: 15px;
    height: 15px;
    color: white;
    background-color: #0d0d6e;
    border: 1px solid #0d0d6e;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    margin-top: -32px;
    margin-left: 332px;
}
nav i{
  margin-right: 25px;
}
.pics{
  margin-left: 850px;
  margin-top: -300px;
  width: 400px;
} 
.pic {
  width: 270px;
  margin-left: 950px;
  margin-top: -290px;
}
.carousel-item h1{
  margin-top: 190px;
  text-align: left;
  margin-left: 200px;
  margin-right: 50px;
}
.carousel-item p{
  margin-top: 20px;
  margin-left: 200px;
}

.carousel-item h3{
  margin-top: 30px;
  margin-left: 200px;
  font-size: 18px;
  width: 150px;
  height: 30px;
  padding-left: 10px;
  padding-top: 3px;
  background-color: rgb(233, 233, 233);
}
.cards{
  background-color: white;
  height: 310px;
  /* width: 1550px; */
  display: flex;
  text-align: center; 
}
.cards div{
  margin-top: 50px;
  margin-right: 10px;
  align-content: center;
}

.one{
  background-color:rgb(255, 209, 217);
  height: 210px;
  width: 280px;
  margin-left: 170px;
}
.two{
  background-color: rgb(166, 255, 251);
  height: 210px;
  width: 280px;
}
.three{
  background-color: rgb(168, 255, 168);
  height: 210px;
  width: 280px;
}
.four{
  background-color: rgb(159, 213, 255);
  height: 210px;
  width: 280px;
}
.cards i{
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 12px;
}
.cards h3{
  margin-top: 25px;
}
.cards p{
  transform: translateY(15px);
}

.new .offer{
  background-color: #2b2b4f;
  color: white;
  height: 30px;
  width: 80px;
  border-radius: 30px;
  text-align: center;
  align-content: center;
  margin-top: 10px;
  margin-left: 15px;
 
}
.new img{
  height: 200px;
  width: 230px;
  margin-left: 25px;
  margin-top: 10px;
}
.new{
  border: 1px solid rgb(237, 237, 237);
  height: 400px;
  width: 300px;
  border-radius: 10px;
}
.heart{
  margin-left: 260px;
  margin-top: -40px;
  font-size: 25px;
  color: white;
}
.new:hover .heart{
  color: black;
}
.new p{
  margin-left: 22px;
  font-weight: bold;
}
.new i{
  color: gold;
  margin-left: 18px;
  margin-right: -22px;
  margin-bottom: 8px;
}
.new span{
  margin-left: 22px;
  font-size: 30px;
}
.sales{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  gap: 20px;
  margin-top: 35px;
  margin-left: 250px;
}
.sales .new{
  background-color: white;
}
/* new arrivals  */
.background{
  background-color: white;
  margin-top: 50px;
  padding-bottom: 50px;
}
.Arrivals{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  gap: 20px;
  margin-top: 30px; 
  margin-left: 250px;
}

.products{
  border: 1px solid rgb(237, 237, 237);
  height: 400px;
  width: 300px;
  border-radius: 10px;
  background-color: white;
}
.products img{
  height: 200px;
  width: 220px;
  margin-left: 25px;
  margin-top: 10px;
}
.products p{
  margin-left: 24px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.products i{
  color: gold;
  margin-left: 20px;
  margin-right: -22px;
  margin-bottom: 10px;
}
.products .heart{
  margin-left: 260px;
  margin-top: 10px;
  font-size: 25px;
  color:white;
}
.products span{
  margin-left: 22px;
  font-size: 30px;
}
.products:hover .heart{
  color: black;
}
h2{
  padding-top: 50px;
  text-align: center;
}

.background h2{
  padding-top: 20px;
  text-align: center;
}
/* .footer{
  background-color: rgb(47, 47, 84);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  padding-top: 30px;
  height: 350px;
 
}
.end{
  margin-top: 50px;
  margin-left:5px;
}
.end i {
  margin-left: 20px;
  font-size: 22px;
}
.end span{
  font-size: 30px;
  margin-left: 7px;
  margin-top: -10px;

}
.end p{
  color: rgb(213, 213, 213);
  margin-left: 20px;
  margin-top: 10px; 
  width: 250px;
}
.end h3{
  font-size: 20px;
  margin-left: 12px;
}
.end li{
  padding-top: 10px;
  margin-left: -20px;
  color: rgb(213, 213, 213);
  list-style-type:none;
} */
.duplicate{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  gap: 20px;
  margin-top: 40px;
  margin-left: 250px;

}
